body {
  background-color: #00b09b;
}

.toolbar {
  position: relative;
  background-color: #f6cc07;
  padding: 4px 4px 3px 3px;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  font-size: 15px;
  text-align: center;
}

.editorWrap {
  width: 600px;
  margin: 18px auto;
}

.editorWrap .toolbar {
  width: 99%;
}

.editorWrap textarea {
  width: 99%;
  min-height: 200px;
  margin-bottom: -5px;
  resize: vertical;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 12px;
  background-color: blanchedalmond;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border-top: none;
}

#preview {
  display: inline-block;
  background-color: blanchedalmond;
  width: 100%;
  padding: 10px;
}

.previewWrap {
  width: 800px;
  margin: 20px auto;
  min-height: 200px;
  overflow-wrap: break-word;
  /* padding-right: 20px; */
  background-color: blanchedalmond;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border-top: none;
}

.previewWrap .toolbar {
  /* left: -1px; */
  width: 100%;
  /* padding-right: 17px; */
}
